<% provide :title, "#{@country.name} #{@category.name}" %>

<article class="view country-data-view">
  <h1 class="<%= "#{@category.slug}-1-bg" %>">
    <span class="category-name"><%= @category.name %></span> in <%= @country.name %>
    <%= render partial: 'countries/score_pill', locals: { country: @country } %>
  </h1>

  <div class="sub-content country-6-bg">
    <div class="main-column">
      <p class="update block <%= @category.slug %>">UPDATE:</p>
      <%= render partial: 'data/indicators', object: @category.data.most_recent.for( @country ) %>
      <%#= render partial: "data/grouped", locals: {data: @category.data.most_recent.for(@country)} %>
      
      <% @country.languages.each do |language|
        data = @category.data.most_recent.for(language)
        unless data.empty? %>
          <h3><%= language.name %></h3>
          <%= render partial: "data/grouped", locals: {data: data} %>
        <% end %>
      <% end %>
    </div>

    <div class="sidebar-column">
      <%= render partial: "countries/sidebar" %>
    </div>
  </div>
</article>
