<% provide :title, "#{@country.name} #{@category.name}" %>

<article class="view country-data-view">
  <h1 class="<%= "#{@category.slug}-1-bg" %> head-banner">
    <span class="category-name"><%= @category.name %></span> in <%= @country.name %>
    <%= render( partial: 'countries/score_pill', locals: { country: @country } ) if @category.slug == 'access' %>
  </h1>
  <%= render partial: 'shared/widgets/category_selector' %>

  <div class="sub-content country-6-bg">
    <div class="main-column">
      <% if part_content( @country.iso3_code.downcase, @category.slug ).present? %>
        <div class="update block <%= @category.slug %>"><%= raw part_content( @country.iso3_code.downcase, @category.slug ) %></div>
      <% end %>

      <section class="indicators block">
      <% grouped = @category.data.indicators.in_category_page.most_recent.for( @country ).group_by { |i| i.source.group } %>

      <% grouped.each { |g| %>
        <%= render partial: 'data/indicators', object: g[ 1 ], locals: { group: g[ 0 ] } %>
      <% } %>
      </section>

      <%# country-based non-indicators for this category %>
      <% @category.data.non_indicators.most_recent.for( @country ).each do |datum| %>
        <%= render partial: "data/#{datum.type.underscore}", locals: { datum: datum } %>
      <% end %>

      <%# language-based non-indicators for this category %>
      <% @country.languages.each do |language| %>
        <% @category.data.non_indicators.most_recent.for( language ).each do |datum| %>
          <%= render partial: "data/#{datum.type.underscore}", locals: { datum: datum } %>
        <% end %>
      <% end %>
    </div>

    <div class="sidebar-column">
      <%= render partial: "countries/sidebar" %>

      <% if @category.name == 'Control' %>
        <section class="block">
          <script src="//herdict.org/widgets/country.load.js"></script>
        </section>
      <% end %>
    </div>
  </div>
</article>
