<% provide :title, "#{@country.name} #{@category.name}" %>

<%= render partial: "countries/sidebar" %>

<article class="countries sub-content">
  <h1 <%= "class='#{@category.name}'" %>>
    <%= @category.name %> in <%= render partial: "countries/list_item", locals: {country: @country} %>
  </h1>
    <%= render partial: "data/grouped", locals: {data: @category.data.most_recent.for(@country)} %>

    <% @country.languages.each do |language|
        data = @category.data.most_recent.for(language)
        unless data.empty? %>
            <h3><%= language.name %></h3>
            <%= render partial: "data/grouped", locals: {data: data} %>
        <% end %>
    <% end %>
</article>
