<% provide :title, "#{@country.name} #{@category.name}" %>

<article class="view country-data-view">
  <h1 class="<%= "#{@category.slug}-1-bg" %>">
    <span class="category-name"><%= @category.name %></span> in <%= @country.name %>
    <%= render partial: 'countries/score_pill', locals: { country: @country } %>
  </h1>
  <%= render partial: 'shared/widgets/category_selector' %>

  <div class="sub-content country-6-bg">
    <div class="main-column">
      <% if part_content( @country.iso3_code.downcase, @category.slug ).present? %>
        <div class="update block <%= @category.slug %>"><%= raw part_content( @country.iso3_code.downcase, @category.slug ) %></div>
      <% end %>

      <%= render partial: 'data/indicators', object: @category.data.indicators.in_category_page.most_recent.for( @country ) %>
      
      <%# country-based non-indicators for this category %>
      <% @category.data.non_indicators.most_recent.for( @country ).each do |datum| %>
        <%= render partial: "data/#{datum.type.underscore}", locals: { datum: datum } %>
      <% end %>

      <!--
      <% if @category.name == 'Control' %>
        <div class="block">
          <h3>HERDICT</h3>
          <p>Interested in helping Herdict test for blocked websites in your country?</p>
          <a href="http://www.herdict.org/participate/reporter" target="_blank"><span style="display: block;">Click here to open the Herdict reporter!</span> <%= image_tag 'herdict_logo.png' %></a>
        </div>
      <% end %>
      -->

      <%# language-based non-indicators for this category %>
      <% @country.languages.each do |language| %>
        <% @category.data.non_indicators.most_recent.for( language ).each do |datum| %>
          <%= render partial: "data/#{datum.type.underscore}", locals: { datum: datum } %>
        <% end %>
      <% end %>
    </div>

    <div class="sidebar-column">
      <%= render partial: "countries/sidebar" %>
    </div>
  </div>
</article>
