<section id="body_content">
  <h1 id="body_content_title"><span><%= image_tag 'imon_logo_small' %> <%= @page.title %></span></h1>

  <section id="body">
    <div class="inner">
      <% unless @page.content_for( 'aside' ).blank? %>
        <div class="aside"><%= raw( @page.content_for 'aside' ) %></div>
      <% end %>
      <time><%= @page.created_at.to_s :publication %></time>
      <%= raw( @page.content_for 'body' ) %>
    </div>
  </section>

  <% unless @page.content_for( 'appendix' ).blank? %>
    <section id="appendix">
      <div class="inner">
        <div class="appendix"><%= raw( @page.content_for 'appendix' ) %></div>
      </div>
    </section>
  <% end %>
</section>
