<% provide :title, 'Home' %>

<div class="container block-links">
  <%= link_to render( partial: 'block_link', locals: { block_name: 'countryviews' } ), refinery::marketable_page_path( 'country-profiles' ) %>

  <%= link_to render( partial: 'block_link', locals: { block_name: 'dashboard' } ), 'https://dashboard.thenetmonitor.org' %>

  <%= link_to render( partial: 'block_link', locals: { block_name: 'accesscheck' } ), 'https://accesscheck.thenetmonitor.org' %>

  <%= link_to render( partial: 'block_link', locals: { block_name: 'research' } ), refinery::marketable_page_path( 'research' ) %>

  <%#= link_to render( partial: 'block_link', locals: { block_name: 'data' } ), 'https://imdata.dev.berkmancenter.org' %>

  <%= link_to render( partial: 'block_link', locals: { block_name: 'bulletins' } ), refinery::marketable_page_path( 'bulletins' ) %>
</div>

<div class="container">
  <section class="blog-posts">
    <h2> Recent Blog Posts </h2>
    <% recent_posts.each do |p| %>
      <%= render "/refinery/blog/posts/recent_post", post: p %>
    <% end %>
    <%= link_to "See all blog posts »", blog_root_path %>
  </section>

  <% cache( 'thenetmonitor-tweets', expires_in: 5.minutes ) { %>
    <section class="twitter">
      <!--<%= DateTime.now %>-->
      <h2>Tweets from @thenetmonitor</h2>
      <ul class="tweets">
        <% imon_tweets.each do |tweet| %>
          <li><%= raw auto_link( tweet.text ) %></li>
        <% end %>
      </ul>
      <div class="follow"><span>Follow</span> <a href="https://twitter.com/thenetmonitor">@thenetmonitor</a><br><span>on Twitter</span></div>
    </section>
  <% } %>
</div>
