<% provide :title, 'Home' %>

<% content_for :javascripts do %>
  <%= javascript_include_tag( 'jquery.film_roll.min.js' ) %>
  <%= javascript_include_tag( 'home.js' ) %>
<% end %>

<%#= render '/refinery/content_page' %>

<div class="block-links">
Holder for block-links
</div>

<div class="blog-posts">
  <h2> Recent Blog Posts </h2>
  <% recent_posts.each do |p| %>
    <%= render "/refinery/blog/posts/recent_post", post: p %>
  <% end %>
  <%= link_to "See all blog posts", blog_root_path %>  
</div>

<% cache( 'thenetmonitor-tweets', expires_in: 5.minutes ) { %>
<section class="twitter">
  <!--<%= DateTime.now %>-->
  <h1>Latest Tweets from @thenetmonitor</h1>
  <ul class="tweets">
    <% imon_tweets.each do |tweet| %>
      <li><%= raw auto_link( tweet.text ) %></li>
    <% end %>
  </ul>
  <div class="follow"><span>Follow</span> <a href="https://twitter.com/thenetmonitor">@thenetmonitor</a><br><span>on Twitter</span></div>
</section>
<% } %>
