<%= semantic_form_for @datum_source do |f| %>
  <% if @datum_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum_source.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @datum_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :admin_name %><br>
    <%= f.text_field :admin_name %>
  </div>

  <div class="field">
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: '80x2' %>
  </div>

  <div class="field">
    <%= f.label :default_weight %><br>
    <%= f.text_field :default_weight %>
  </div>

  <div class="field">
    <%= f.check_box :affects_score %>
    <%= f.label :affects_score %>
  </div>

  <div class="field">
    <%= f.label :source_name %><br>
    <%= f.text_field :source_name %>
  </div>

  <div class="field">
    <%= f.label :display_prefix %><br>
    <%= f.text_field :display_prefix %>
  </div>

  <div class="field">
    <%= f.label :display_suffix %><br>
    <%= f.text_field :display_suffix %>
  </div>

  <div class="field">
    <%= f.label :precision %><br>
    <%= f.text_field :precision %>
  </div>

  <div class="field">
    <%= f.check_box :normalized %>
    <%= f.label :normalized %>
  </div>

  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
