<% rp = refinery_page( datum ) %>

<section class="<%= retriever_class_name( datum ) %> html-block block">
  <% if rp.any? %>
    <h1><%= rp.first.title %></h1>
    <div class="body"><%= raw rp.first.content_for( :body ) %></div>
  <% end %>
  
  <%= raw datum.value.to_s.force_encoding('UTF-8') %>

  <% if rp.any? %>
    <div class="side_body"><%= raw rp.first.content_for( :side_body ) %></div>
  <% end %>
</section>
