<% percent = indicator.percent.present? ? indicator.percent : 0 %>
<% under = percent < 0.6 unless percent.nil? %>
<dt>
  <span><%= link_to indicator.name, refinery::marketable_page_path('sources'), title: "Source: #{indicator.source.source_name}" %></span>
</dt>

<dd>
  <span class="indicator-bar-outer">
    <span data-value="<%= percent %>" style="width: <%= percent * 100 %>%" class="indicator-bar-inner <%= "#{@category.slug}-1-bg" %>"></span>
    <% if indicator.source.display_original %>
      <span class="original-value <%= 'over' unless under %>" style="<%= under ? "left: #{percent * 100.0}%" : "right: #{((1.0 - percent) * 100.0).round(2)}%" %>;"><%= indicator.source.display_prefix %><%= number_with_precision( indicator.original_value, { precision: 0, delimiter: ',' } ) %><%= indicator.source.display_suffix %></span>
    <% end %>
  </span>
</dd>
