<dt><span><%= indicator.name %></span></dt>
<dd title="<%= number_to_percentage(indicator.percent * 100, :precision => 2) %>">
<span class="indicator-bar-outer">
  <span data-value="<%= indicator.percent %>" style="width: <%= indicator.percent * 100 %>%" class="indicator-bar-inner <%= "#{@category.slug}-1-bg" %>"></span>
</span>
</dd>
