<% provide :title, "#{@country.name} #{@category.name}" %>

<%= render( {
  partial: "shared/widgets/country_data",
  object: @country
} ) %>

<%= render( {
  partial: "shared/widgets/category_selector"
} ) %>

<article class="countries control sub-content">
  <h1><%= render( {
    partial: "shared/line_items/country",
    object: @country
  } ) %></h1>

  <ul class="indicators generic">
    <% @country.indicators.most_recent.each do |indicator| %>
      <% if ( indicator.source.category_id == @category.id ) %>
        <li><%= render :partial => 'shared/line_items/indicator', :object => indicator %></li>
      <% end %>
    <% end %>
  </ul>

  <ul class="indicators url-lists">
    <% @country.url_lists.most_recent.each do |list| %>
      <% if ( list.source.category_id == @category.id ) %>
        <li><%= render :partial => 'shared/url_list', :object => list %></li>
      <% end %>
    <% end %>
  </ul>

  <ul class="indicators html">
    <% @country.html_blocks.most_recent.each do |html_block| %>
      <% if ( html_block.source.category_id == @category.id ) %>
        <li><%= raw html_block %></li>
      <% end %>
    <% end %>
  </ul>

  <ul class="indicators images">
    <% @country.images.most_recent.each do |image| %>
      <% if ( image.source.category_id == @category.id ) %>
        <li><%= render :partial => 'shared/image', :object => image %></li>
      <% end %>
    <% end %>
  </ul>

</article>
