<% provide :title, 'Map' %>

<% content_for :javascripts do %>
  <%= javascript_include_tag( 'jquery.geo-1.0.0-test.min.js' ) %>
  <%= javascript_include_tag( '_map.js' ) %>
<% end %>

<article class="view">
  <h1>Map &amp; Index</h1>

  <%= render partial: 'countries/map', object: @map_countries %>

  <div class="map-controls">
    <a href="javascript:void(0)" class="zoom-in" title="zoom in"></a>
    <a href="javascript:void(0)" class="zoom-out" title="zoom out"></a>
  </div>

  <div class="map-legend" style="display: none;">
  </div>

  <section class="map-index">
    <h1>Country Index</h1>

    <h2 class="country-1-fg">
      <span class="label-country">country</span><span class="label-im-rank">rank<br><span class="of">(of <%= @map_countries.count %>)</span></span><span class="label-im-score">score<br><span class="of">(of 10)</span></span><span class="label-user-score">user<br>score</span><span class="label-user-rank">user<br>rank</span>
    </h2>

    <div class="map-pills-container" style="height: <%= @scored_countries.count * 36 %>px;">
      <ol class="scored-countries">
        <% @scored_countries.each do |country| %>
          <%#Replaced country.rank with country.id because rank was nil and kept giving errors%>
          <li style="top: <%= (country.id - 1) * 36 %>px;"><%= render partial: 'countries/score_pill', locals: { country: country } %></li>
        <% end %>
      </ol>
    </div>
  </section>

</article>

