<% provide :title, @country.name %>

<%= render partial: "countries/sidebar" %>
<%= render partial: "shared/widgets/category_selector" %>

<article class="country sub-content" data-country-id="<%= @country.id %>">
  <h1><%= render partial: "countries/list_item", locals: {country: @country} %></h1>

  <p class="country-description"><%= @country.description %></p>
</article>
