<% provide :title, @country.name %>


<article class="view country-data-view" data-country-id="<%= @country.id %>">
  <h1 class="country-1-bg">
    <%= @country.name %>
    <%= render partial: 'countries/score_pill', locals: { country: @country } %>
  </h1>
  <%= render partial: 'shared/widgets/category_selector' %>

  <div class="sub-content country-6-bg">
    <div class="main-column">
      <% if part_content( @country.iso3_code.downcase, :body ).present? %>
        <div class="update block"><%= raw part_content( @country.iso3_code.downcase, :body ) %></div>
      <% end %>
    </div>

    <div class="sidebar-column">
      <%= render partial: "countries/sidebar" %>
    </div>
  </div>
</article>
