<% provide :title, @country.name %>

<%= render( {
  partial: "shared/widgets/country_data",
  object: @country
} ) %>

<%= render( {
  partial: "shared/widgets/category_selector",
  object: @country
} ) %>

<!-- <div class="country-score"><%= @country.score %></div>-->

<article class="countries sub-content">
  <h1><%= render( {
    partial: "shared/line_items/country",
    object: @country
  } ) %></h1>


  <p class="country-description">(Country.description)<br>Bacon ipsum dolor sit amet cupidatat voluptate beef ribs ea, chuck esse anim meatloaf flank. Kielbasa pork eiusmod venison leberkas pig dolore incididunt shankle meatloaf est laboris salami ad. Capicola prosciutto chicken nostrud. Nulla sausage aute, veniam dolor deserunt cupidatat. Spare ribs ut eiusmod, tri-tip do veniam fatback sunt aute ullamco.</p>

    <h3>Indicators (<%= @country.indicators.most_recent.count %>)</h3>
    <ul class="indicators">
        <% @country.indicators.most_recent.each do |indicator| %>
            <li><%= render :partial => 'shared/line_items/indicator', :object => indicator %></li>
        <% end %>
    </ul>

    <h3>Url Lists (<%= @country.url_lists.most_recent.count %>)</h3>
    <ul class="indicators">
        <% @country.url_lists.most_recent.each do |list| %>
            <li><%= render :partial => 'shared/url_list', :object => list %></li>
        <% end %>
    </ul>

    <h3>HTML Blocks (<%= @country.html_blocks.most_recent.count %>)</h3>
    <ul class="html">
        <% @country.html_blocks.most_recent.each do |html_block| %>
            <li><%= raw html_block %></li>
        <% end %>
    </ul>

    <h3>Images (<%= @country.images.most_recent.count %>)</h3>
    <ul class="images">
        <% @country.images.most_recent.each do |image| %>
            <li><%= render :partial => 'shared/image', :object => image %></li>
        <% end %>
    </ul>

    
    <% @country.languages.each do |language| %>
    <h2>Language <%= language.name %></h2>
    <h3>Indicators (<%= language.indicators.most_recent.count %>)</h3>
    <ul class="indicators">
        <% language.indicators.most_recent.each do |indicator| %>
            <li><%= render :partial => 'shared/line_items/indicator', :object => indicator %></li>
        <% end %>
    </ul>

    <h3>Url Lists (<%= language.url_lists.most_recent.count %>)</h3>
    <ul class="indicators">
        <% language.url_lists.most_recent.each do |list| %>
            <li><%= render :partial => 'shared/url_list', :object => list %></li>
        <% end %>
    </ul>

    <h3>HTML Blocks (<%= language.html_blocks.most_recent.count %>)</h3>
    <ul class="html">
        <% language.html_blocks.most_recent.each do |html_block| %>
          <li class="<%= html_block.source.retriever_class.class %>" data-datum-path="<%= Rails.application.routes.url_helpers.original_datum_path(html_block, :format => :json) %>"><%= raw html_block %></li>
        <% end %>
    </ul>

    <h3>Images (<%= language.images.most_recent.count %>)</h3>
    <ul class="images">
        <% language.images.most_recent.each do |image| %>
            <li><%= render :partial => 'shared/image', :object => image %></li>
        <% end %>
    </ul>
    <% end %>
</article>
