<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= raw get_title( yield(:title) , params ) %> @ Internet Monitor</title>
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "magnific-popup", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{ params[ :controller ].gsub( '/', '-' ) } #{ params[ :action ] }" %>">

  <header>
    <nav>
      <ul>
        <li><%= link_to 'home', '/' %></li>
        <li><%= link_to 'about', refinery::marketable_page_path('about') %></li>
        <li><%= link_to 'research', refinery::marketable_page_path('research') %></li>
        <li><%= link_to 'data', refinery::marketable_page_path('sources') %></li>
        <li><%= link_to 'faq', refinery::marketable_page_path('faq') %></li>
        <li><%= link_to 'blog', refinery::blog_root_path %></li>
      </ul>
    </nav>

    <div class="data-nav">
      <%= link_to raw('countries &#9654;'), Imon::Application.routes.url_helpers.countries_path, { class: 'data-nav-countries' } %>
      <a href="#" class="data-nav-categories">categories &#9654;</a>
      <%= link_to raw( '&nbsp;' ), Imon::Application.routes.url_helpers.map_path, class: 'map-link', title: 'MAP' %>
      <a href="javascript:void(0);" class="toggle-weight-sliders" title="MY SCORE">&nbsp;</a>
    </div>

    <h1><span style="display:none;">Internet Monitor</span> <%= link_to( raw( '<div class="logo-image"></div>' ), "/" ) %> </h1>

    <div id="weight-sliders" class="hidden">
        <h3>Configure</h3>
        <%= render :partial => 'shared/widgets/weight_sliders' %>
    </div>
  </header>

  <section class="main-content">
    <%= render partial: 'countries/nav_list' %>
    <%= render partial: 'shared/widgets/category_selector' %>
    <%= yield %>

    <div class="score-keeper-loader mfp-hide">
      <%= image_tag 'ajax-loader.gif', alt: '' %> <span>Please wait while we load updated score calculation data.</span>
    </div>
  </section>

  <footer>
    <a href="http://cyber.law.harvard.edu" title="Berkman Center For Internet and Society" class="berkman-link"></a>
    <nav>
      <ul>
        <li><%= link_to "about", refinery::marketable_page_path('about') %></li>
        <li>contact</li>
        <li><%= link_to "blog", refinery::blog_root_path %></li>
      </ul>
    </nav>
  </footer>
    
    
<%=
#  if ( Rails.env.development? )
#      debug( params )
#  end
%>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag( 'jquery.geo-1.0.0-b2.min.js' ) %>
</body>
</html>
