<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= raw get_title( yield(:title) , params ) %> | Internet Monitor</title>
  <meta name="viewport" content="width=device-width">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{ params[ :controller ].gsub( '/', '-' ) unless params[ :controller ].nil? } #{ params[ :action ] } #{ ('show-' + params[ :path ]) if params[ :controller ] == 'refinery/pages' && params[ :action ] == 'show'}" %>">

  <header>
    <nav>
      <ul>
        <li><%= link_to 'home', '/' %></li>
        <li><%= link_to 'about', refinery::marketable_page_path('about') %></li>
        <li><%= link_to 'research', refinery::marketable_page_path('research') %></li>
        <li><%= link_to 'data', refinery::marketable_page_path('sources') %></li>
        <li><%= link_to 'blog', refinery::blog_root_path %></li>
        <li><%= link_to 'dashboard', Imon::Application.config.imon['dashboard_url'] %></li>
      </ul>
    </nav>

    <div class="data-nav">
      <%= link_to raw('countries &#9654;'), 'javascript:void(0);', { class: 'data-nav-countries' } %>
      <%= link_to raw( '&nbsp;' ), Imon::Application.routes.url_helpers.map_path, class: 'map-link', title: 'INDEX MAP' %>
      <%= link_to raw( '&nbsp;' ), Imon::Application.config.imon['dashboard_url'], class: 'dashboard-link', title: 'DASHBOARD' %>
      <a href="javascript:void(0);" class="toggle-weight-sliders" title="MY SCORE">&nbsp;</a>
    </div>

    <h1><span style="display:none;">Internet Monitor</span> <%= link_to( raw( '<span class="logo-image"></span>' ), "/" ) %> </h1>

    <div id="configure-panel" class="hidden">
        <h3>Configure</h3>

        <p>Internet Monitor's Access Index is calculated based on data within four groups. By default, we weight each of these groups of data equally. You can use the sliders below to adjust the weights of these groups and create your own index. <%= link_to 'Learn more »', refinery::marketable_page_path( 'faq' ), class: 'learn-more' %></p>

        <%= render :partial => 'shared/widgets/weight_sliders', locals: { groups: @groups, background_color: '#f15c23' } %>
    </div>
  </header>

  <section class="main-content">
    <%= render partial: 'countries/nav_list' %>
    <%= yield %>
  </section>

  <%# uncomment for parameter debug %>
  <%= debug(params) if Rails.env.development? %> 

  <footer>
    <%= image_tag 'imon_logo_small.png', alt: '', class: 'footer-logo' %>
    <a href="http://cyber.law.harvard.edu" title="Berkman Klein Center For Internet and Society" class="berkman-link"><%= image_tag 'BKC_Mark_White.svg', alt: '', height: '32px' %></a>
    <nav>
      <ul>
        <li><%= link_to 'about', refinery::marketable_page_path('about') %></li>
        <li><%= link_to 'contact', refinery::marketable_page_path('contact') %></li>
        <li><%= link_to 'blog', refinery::blog_root_path %></li>
        <li><%= link_to 'terms & privacy', refinery::marketable_page_path('terms-of-service') %></li>
      </ul>
    </nav>
    <span class="cc">Unless otherwise noted, this site and its contents are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> license.</span>
  </footer>
    
    

  <%= javascript_include_tag "application" %>

  <%= yield :javascripts if content_for?( :javascripts ) %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-223559-17', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
