<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/ga' %>
  <meta charset="utf-8" />
  <title><%= raw get_title( yield(:title) , params ) %> | Internet Monitor</title>
  <meta name="viewport" content="width=device-width">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{ params[ :controller ].gsub( '/', '-' ) unless params[ :controller ].nil? } #{ params[ :action ] } #{ params[ :path ].gsub( '/', ' ' ) if params[ :controller ] == 'refinery/pages' && params[ :action ] == 'show'}" %> layout-embed">

  <section class="main-content">
    <div class="body-margin">
      <%= yield %>
    </div>
  </section>

  <%= javascript_include_tag "application" %>

  <%= yield :javascripts if content_for?( :javascripts ) %>

  <%# uncomment for parameter debug %>
  <%#= debug(params) if Rails.env.development? %> 

</body>
</html>
