<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/ga' %>
  <meta charset="utf-8" />
  <title><%= raw get_title( yield(:title) , params ) %> | Internet Monitor</title>
  <meta name="viewport" content="width=device-width">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{ params[ :controller ].gsub( '/', '-' ) unless params[ :controller ].nil? } #{ params[ :action ] } #{ ('show-' + params[ :path ].gsub( '/', ' ' )) if params[ :controller ] == 'refinery/pages' && params[ :action ] == 'show'}" %> layout-report">

  <nav class="navbar navbar-inverse navbar-static-top im-nav">
    <div class="container">
      <ul class="im-nav-links">
        <li class="active"><a href="/">Internet Monitor</a></li>
        <li><a href="https://dashboard.thenetmonitor.org">Dashboard</a></li>
        <li><a href="https://accesscheck.thenetmonitor.org">AccessCheck</a></li>
      </ul>
    </div>
  </nav>

  <section class="main-content">
    <div class="body-margin">
      <%= yield %>
    </div>
  </section>

  <footer>
    <%= image_tag 'imon_logo_small.png', alt: '', class: 'footer-logo' %>
    <a href="http://cyber.law.harvard.edu" title="Berkman Klein Center For Internet and Society" class="berkman-link"><%= image_tag 'BKC_Mark_White.svg', alt: '', height: '32px' %></a>
    <nav>
      <ul>
        <li><%= link_to 'about', refinery::marketable_page_path('about') %></li>
        <li><%= link_to 'contact', refinery::marketable_page_path('contact') %></li>
        <li><%= link_to 'blog', refinery::blog_root_path %></li>
        <li><%= link_to 'terms & privacy', refinery::marketable_page_path('terms-of-service') %></li>
      </ul>
    </nav>
    <span class="cc">Unless otherwise noted, this site and its contents are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> license.</span>
  </footer>

  <%= javascript_include_tag "application" %>

  <%= yield :javascripts if content_for?( :javascripts ) %>

  <%# uncomment for parameter debug %>
  <%#= debug(params) if Rails.env.development? %> 

</body>
</html>
